*{
    padding: 0;
    margin: 0;;
}

.mainContainer{
    background: black;
    color: white;
}
.navbarWrapper{
    background-color: rgb(100,100,234);
}

ul li{
    list-style: none;
}
.navBar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 80px;
}
ul{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
#search{
    width: 400px;
    height: 40px;
    margin: 10px 0px;
    padding: 20px;
    font-size: 20px;
}
.search{
    width: 400px;
    margin-left:650px;
    background-color: white;
    height: 60px;
    color: black;
}
.movieMainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    margin: auto;
    gap: 103px;
}
.movie{
    width: auto;
}
.movie img{
    width: 400px;
    height: 550px;
}

        
